{% extends "includes/header_new.html" %}

{%block content%}
	{%load static%}



	<div class="container-fluid my-2">
		<div class="row" style="justify-content: center;">
			<div class="col-md-8" >
				<div class="row" style="justify-content: center;">
					<h2 class="text-muted">{{course}}</h2>
				</div>
				<div class="row" style="justify-content: center;">
					<!-- Write a big enough paragraph for course description -->
					<p>
                        {{course_info}}
					</p>
				</div>
            <div class="row" style="justify-content: center;">
					<h4 class="text-muted"> <small><strong>Instructor:</strong> </small> &nbsp; </h4>
					<h4> <small>{{instructor}}</small></h4>
				</div>				
			</div>
		</div>
		<div style="position: relative; display: inline-block; margin-left: 3px; margin-right: 3px; width: 100%; border-bottom: 1px solid #7A7A7A;"></div>
	</div>

	<!-- *! video content list -->
    {% for t in tuts%}
    <div class="container my-1" style="padding: 0px; ">
        <div class="row">
            <div class="col-md-4">
                <!-- * .ogg, .mp4, .webm are the only video file types that work with this  -->
                <video controls src="{{t.tutorial_video.url}}" style="height: auto; width: 100%;"></video>
            </div>
            <div class="col-md-8">
                <h5 class="text-muted" style="text-align: center;"><small><strong>Lecture {{forloop.counter}}</strong></small></h5>  <br>
                <p>
                    {{t.tutorial_description}}
                </p>
            </div>
        </div>
        <div style="position: relative; display: inline-block; margin-left: 3px; margin-right: 3px; width: 100%; border-bottom: 1px solid #7A7A7A;"></div>
    </div>
   {%endfor%}
{%endblock%}